<ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
    <li class="nav-item" >
      <a class="nav-link" routerLink="home" routerLinkActive="active"  >Home</a>
    </li>
    <li  *ngIf="!loggedin()" class="nav-item" >
      <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
    </li>
    <li *ngIf="loggedin()"class="nav-item" >
      <a class="nav-link" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li *ngIf="loggedin()"class="nav-item" >
      <a class="nav-link" routerLink="transaction" routerLinkActive="active">Transfer</a>
    </li>
    <li *ngIf="loggedin()"class="nav-item" >
      <a class="nav-link" routerLink="history" routerLinkActive="active">History</a>
    </li>
    <li *ngIf="loggedin()"class="nav-item" >
      <a class="nav-link" (click)="logout()" routerLinkActive="active">Logout</a>
    </li>
   
    
    
      </ul>
